
.mainBox{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 30%;
    margin: auto;
    padding: 10px 15px 10px 15px ;
    /* border: 1px solid red; */
}

.diceBox{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
}

button{
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    height: 36px;
    width: 97px;
    margin-left: 156px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#member-1,#member-2,#member-3{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 80px;
    width: 85px;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    border: 1px solid;
}
#result{
    margin-top: 12px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}
h2{
    margin-top: 95px;
    margin-left: -117px;
}
